[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "{{cookiecutter.minimal_python_version}}"
