[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "{{cookiecutter.minimal_python_version}}"
